/* @override 
	http://localhost:8080/Plone/++theme++plonetheme.changecenter/css/typography.css */

h2 {
	background: transparent url('../images/h2-arrow.png') no-repeat left center;
	text-indent: 30px;
}