/* @override 
	http://beta.changecenter.org/++theme++plonetheme.changecenter/css/typography.css
	http://64.18.217.181:8908/Plone/++theme++plonetheme.changecenter/css/typography.css */

	
/* @group General Styles */

#content h1 {
background: transparent url('../images/h2-arrow.png') no-repeat left center;
text-indent: 30px;
color: #355DA6;
font: normal normal 2em myriad-pro, sans-serif;
	
}

h2 {
	background: transparent url('../images/h2-arrow.png') no-repeat left center;
	text-indent: 30px;
	color: #355DA6;
	font: normal normal 2em myriad-pro, sans-serif;
	display: block;
}

h3 {
	font: normal 2em/1.5em "myriad-pro",sans-serif;
	color: #355DA6;
}

h4 {
	color: #333;
	font: normal 1.25em/1.5em "myriad-pro",sans-serif;
}

#content p a:link,
dl.portlet a:link {
    color: #F26722;
    border-bottom: none;
}

#content p a:visited,
dl.portlet a:visited {
    color: #F26722;
    border-bottom: none;
}

#content a:hover,
dl.portlet a:hover {
    color: #355DA6 !important; /* This one gets an !important because it should always activate in the content area, even when state coloring is active */
}

#content ul {
list-style-type: disc;
margin-left: 4em;
}

hr {
	color: #fff; 
	background-color: #fff; 
	border: 1px dotted gray; 
	border-style: none none dotted; 
}
/* @end */

/* @group Header and Nav */

#slogan h1 {
	color: gray;
	font: 1.75em "myriad-pro",sans-serif;
}

#slogan h2 {
	color: #153462;
	font: 1.35em "myriad-pro",sans-serif;
	background: none;
	text-indent: 0;
}

#nav ul li a {
	font: 14px "myriad-pro",sans-serif;
	color: gray;
}

#nav ul li a:hover{
    color: #F26722;

}

/* @end */

/* @group Portlets */

dl.portlet ul.navTree li a {
	color: gray;
}

dl.portlet ul.navTree li a:hover {
    color: #355DA6 !important;
}


dl.portlet ul.navTree .navTreeCurrentItem {
	color: #F26722;
}

#portlets-above dt.portletHeader {
	color: white;
	font: 2.5em "myriad-pro",sans-serif;
	font-weight: 300;
	
}
/* @end */

/* @group Footer */

#portal-siteactions li a:hover {
    color: #355DA6
}
/* @end */

/* @group Person */

body.portaltype-person .documentFirstHeading {
	font: normal 2em/1.5em "myriad-pro",sans-serif;
	color: #355DA6;
	
}

body.portaltype-person #content h1 {
	font:  2.5em "myriad-pro",sans-serif;
	font-weight: 300;
	text-indent: 0;
	color: #355DA6;
	margin-top: 0;
}
body.portaltype-person #content .documentDescription {
	color: #333;
	font: normal 1.25em/1.5em "myriad-pro",sans-serif;
	
}

/* @end */

/* @group Carousel */

div.carousel-text .carousel-title {
	color: white;
	font: 2em/1.5em "myriad-pro",sans-serif;
	font-weight: 300;
}

/* @end */

/* @group News Item */

.portaltype-news-item #content h1 {
	background: transparent url('../images/h2-arrow.png') no-repeat left center;
	text-indent: 30px;
	color: #355DA6;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	font-family: myriad-pro, sans-serif;
}

/* @end */

/* @group Specific View Tweaks */

body.section-what-we-do div.tileItem h3 {
	background: transparent url('../images/arrow-gray.png') no-repeat left center;
	text-indent: 30px;
	color: #355DA6;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	font-family: myriad-pro, sans-serif;
}

#collage div.three-columns-largeright div.collage_view_summary h3.tileHeadline a {
	font-size: 16px;
	line-height: 20px;
}

#collage div.three-columns-largeright div.collage_view_summary p .description {
	color: gray;
}

body.section-news #collage  div.collage_type_topic.collage_view_summary h3.tileHeadline {
	background: transparent url('../images/h2-arrow.png') no-repeat left center;
	text-indent: 30px;	
}

/* @end */